<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%- partial('../elements/alert', [{ type: 'danger', message: __(error) }]) %>
  <% }) %>
<% } %>

<%- partial('../elements/form',[{
    action: '/auth/local',
    method: 'post',
    controls: [
        {
            kind: 'input',
            type: 'text',
            name: 'identifier',
            placeholder: 'Username or Email'
        },
        {
            kind: 'input',
            type: 'password',
            name: 'password',
            placeholder: 'Password'
        },
        {
            kind: 'button',
            type: 'submit',
            style: 'primary',
            name: 'login',
            value: 'Sign in'
        }
    ]
}]) %>

<% if (providers) {%>
  <h4>You can also use one of these...</h4>

  <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
  <% }) %>
<% } %>
