extends ../layout/auth.jade

block title
    | Register

block content
    .panel-heading
        h3 Register
    .panel-body
        if errors
            each error in errors
                +alert('danger', i18n(error), true)
        
        form(role='form', method='post', action='/auth/local/register')
            .form-group
                label(for='username') Username
                input.form-control(type='text', name='username', placeholder='Username')
            .form-group
                label(for='email') Email
                input.form-control(type='text', name='email', placeholder='email')
            .form-group
                label(for='password') Password
                input.form-control(type='password', name='password', placeholder='Password')
            .form-group
                button.btn.btn-primary.btn-block(type='submit', name='register') Register
