extends ../layout/default.jade

include includes/moduleentry.jade

block title
    | Modules Overview
    
block pageheader
    | Configured Modules
    
block content
    .panel.panel-primary
        .panel-heading
            | Enabled Modules
        table.table
            thead
                th Name
                th Version
                th Author
                th Description
            
            tbody
                each module in modules
                    if module.enabled
                        +moduleentry(module)
                        
    .panel.panel-info
        .panel-heading
            | Disabled Modules
        table.table
            th
                td Name
                td Version
                td Author
                td Description
                
            tbody
                each module in modules
                    if !module.enabled
                        +moduleentry(module)
