nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0;')
    include header.jade
    ul.nav.navbar-top-links.navbar-right
        include notifications.jade
        include actions.jade

    include sidebar.jade
