.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul.nav.in#side-menu
            +sidebar-item('home', '/', 'Home')
            +sidebar-item('dashboard', '/dashboard', 'Dashboard')
