.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul.nav.in#side-menu
            if !sails.config.modlab.disableHome
                +sidebar-item('home', '/', 'Home')
                
            if req.isAuthenticated()
                if req.user.hasPermission('system.dashboard.view')
                    +sidebar-item('dashboard', '/dashboard', 'Dashboard')
                if req.user.hasPermission('system.plugins.view')
                    +sidebar-item('plug', '/plugins', 'Plugins')
                if req.user.hasPermission('system.plugins.view')
                    +sidebar-item('shield', '/rights', 'Rights')
            else
                +sidebar-item('sign-in', '/login', 'Sign In')
                
            each page in sails.app.customPages
                if checkDisplay(page, req)
                    +sidebar-item(page.name.toLowerCase(), page.path, page.name)
