.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul.nav.in#side-menu
            if !sails.config.modlab.disableHome
                +sidebar-item('home', '/', 'Home')

            if req.isAuthenticated()
                if req.user.hasPermission('system.dashboard.view')
                    +sidebar-item('dashboard', '/dashboard', 'Dashboard')
                if req.user.hasPermission('system.modules.view')
                    +sidebar-item('plug', '/modules', 'Modules')
                        ul.nav.nav-second-level
                            li
                                a(href='/modules') Overview
                            each menu in Object.keys(sails.app.moduleMenus)
                                - var menuItem = sails.app.moduleMenus[menu];
                                if menuItem.permission == '' || (req.user && req.user.hasPermission(menuItem.permission))
                                    li
                                        a(href=menuItem.url)= menuItem.text

                if req.user.hasPermission('system.rights.view')
                    +sidebar-item('shield', '/rights', 'Rights')
                if req.user.hasPermission('system.logs.view')
                    +sidebar-item('book', '/logs', 'Logs')
            else
                +sidebar-item('sign-in', '/login', 'Sign In')

            each page in sails.app.customPages
                if checkDisplay(page, req)
                    +sidebar-item(page.name.toLowerCase(), page.path, page.name)
