.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul.nav.in#side-menu
            if !sails.config.modlab.disableHome
                +sidebar-item('home', '/', 'Home')

            if req.isAuthenticated()
                if req.user.hasPermission('system.dashboard.view')
                    +sidebar-item('dashboard', '/dashboard', 'Dashboard')
                if req.user.hasPermission('system.modules.view')
                    +sidebar-item('plug', '/modules', 'Modules')
                        ul.nav.nav-second-level
                            li
                                a(href='/modules') Overview
                            each module in sails.app.modules
                                - if(module.routes && Object.keys(module.routes).length >= 1)
                                    li
                                        if module.baseURL
                                            a(href='/m/' + module.baseURL + '/')= module.displayName
                                        else
                                            a(href='/m/' + module.name + '/')= module.displayName

                if req.user.hasPermission('system.rights.view')
                    +sidebar-item('shield', '/rights', 'Rights')
                if req.user.hasPermission('system.widgets.view')
                    +sidebar-item('plug', '/widgets', 'Widgets')
                if req.user.hasPermission('system.logs.view')
                    +sidebar-item('book', '/logs', 'Logs')
            else
                +sidebar-item('sign-in', '/login', 'Sign In')

            each page in sails.app.customPages
                if checkDisplay(page, req)
                    +sidebar-item(page.name.toLowerCase(), page.path, page.name)
