.navbar-default.sidebar(role='navigation')
    .sidebar-nav.navbar-collapse
        ul.nav.in#side-menu
            if !sails.config.modlab.disableHome
                +sidebar-item('home', '/', 'Home')
                
            if req.isAuthenticated()
                +sidebar-item('dashboard', '/dashboard', 'Dashboard')
                +sidebar-item('plug', '/plugins', 'Plugins')
            else
                +sidebar-item('sign-in', '/login', 'Sign In')
