<h2>Thank you for installing ModLab!</h2>
It appears that your installation succeeded and you can now use ModLab!<br>
You can now <%- link_to('/login', 'Login') %> with the default admin account and start customizing!
