extends ../layout/default.jade

block title
    | Dashboard

block pageheader
    | Index

block content
    if widgets.length === 0
        | Looks like you have no widgets installed to display.
    else
        each widget in widgets
            - var size = widget.size || 4
            +widget(widget.name, size, widget.rendered)
