extends ../layout/default.jade

block title
    | Log Management

block pageheader
    | Logs

block content
    table.table.table-striped
        thead
            th Issuer
            th Message
            th Time
        tbody
            each log in logs
                tr
                    td.col-md-2
                        if log.issuer
                            = log.issuer.username
                        else
                            | System
                    td= log.message
                    td.col-md-2.col-sm-2.col-lg-2= UtilityService.displayDate(log.createdAt)
