extends layout/errorlayout.jade

block title
    | Error 403

block pageheader
    | Error - 403

block content
    - var error = error || req.flash('error')
    h1 Forbidden
    p
        if error
            = error
        else
            | You don't have permission to see the page you're trying to reach.
    p.help
        a(href='http://en.wikipedia.org/wiki/HTTP_403') Why
        |  might this be happening?
