extends layout/errorlayout.jade

block title
    | Modlab - Error 404

block pageheader
    | Error - 404

block content
    - var error = error || req.flash('error')
    h1 Not found
    h2 Something's fishy here.
    p
        if error
            = error
        else
            | The page you were trying to reach doesn't exist.
            
    p.help
        a(href='http://en.wikipedia.org/wiki/HTTP_404') Why
        |  might this be happening?
