extends ../../layout/default.jade

block title
    | Installation - Step 1

block pageheader
    | Installation - Step 1

block content            
    .container
        .row.col-md-6.col-md-offset-3
            h3 Please create an admin account for modlab:
            if errors
                each error in errors
                    +alert('danger', i18n(error), true)
            form(role='form', method='post', action='/install/steps/1')
                .form-group
                    label(for='username') Username
                    input.form-control(type='text', name='username', placeholder='Username')
                .form-group
                    label(for='email') Email
                    input.form-control(type='text', name='email', placeholder='email')
                .form-group
                    label(for='password') Password
                    input.form-control(type='password', name='password', placeholder='Password')
                .form-group
                    button.btn.btn-primary.col-md-12(type='submit', name='admin_create') Create admin
