mixin pluginentry(plugininfo)
    tr
        td= plugininfo.displayName
        td= plugininfo.version
        td
            if plugininfo.author
                = plugininfo.author
        td
            if plugininfo.description
                = plugininfo.description
