extends ../layout/default.jade

block title
    | Rights Management
    
block pageheader
    | Rights - #{group.name} 
    a.btn.btn-primary.fa.fa-pencil(href='/rights/group/' + group.id + '/edit')
    a#deleteGroup.btn.btn-danger.fa.fa-trash(data-href='/rights/group/' + group.id, data-return='/rights')
    
block content
    .panel.panel-default
        .panel-heading
            | Permissions
        table.table
            each permission in group.permissions
                tr
                    td= permission
                
    .panel.panel-default
        .panel-heading
            | Users
        table.table
            each user in group.users
                tr
                    td
                        a(href='/rights/user/#{user.id}')= user.username
                    
