extends ../layout/default.jade

block title
    | Rights Management
    
block pageheader
    | Rights - #{group.name}
    
block content
    .panel.panel-default
        .panel-heading
            | Permissions
        table.table
            each permission in group.permissions
                tr
                    td= permission
                
    .panel.panel-default
        .panel-heading
            | Users
        table.table
            each user in group.users
                tr
                    td
                        a(href='/rights/user/#{user.id}')= user.username
                    
