extends ../layout/default.jade

block title
    | Rights Management
    
block pageheader
    | Rights - #{user.username}
    
block content
    .panel.panel-default
        .panel-heading
            | Permissions
        table.table
            each permission in user.permissions
                tr
                    td= permission
    
    .panel.panel-default
        .panel-heading
            | Permission Groups
        table.table
            each group in user.groups
                tr
                    td
                        a(href='/rights/group/#{group.id}')= group.name
