//.panel.panel-primary
//    .panel-heading
//        .row
//            .col-xs-3
//                i.fa.fa-users.fa-5x
//            .col-xs-9.text-right
//                .huge= groupamount
//                | Created Groups
//    a(href='/rights')
//        .panel-footer
//            span.pull-left View
//            span.pull-right
//                i.fa.fa-arrow-circle-right
//            .clearfix

include base/mixins/infowidget
+info-widget('group-info-widget', 'users', groupamount, 'Created Groups', '/rights', 'View')
