.panel.panel-primary
    .panel-heading
        .row
            .col-xs-3
                i.fa.fa-cog.fa-5x
            .col-xs-9.text-right
                .huge= moduleamount
                | Enabled modules
    a(href='/modules')
        .panel-footer
            span.pull-left View
            span.pull-right
                i.fa.fa-arrow-circle-right
            .clearfix
