include ../mixins/includes.jade

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
            
        title
            = sails.config.modlab.name || 'Modlab'
            |  - 
            block title
                | Modlab
                
        // STYLES
        link(rel="stylesheet", href="/styles/dependencies/bootstrap-theme.min.css")
        link(rel="stylesheet", href="/styles/dependencies/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/dependencies/metisMenu.min.css")
        link(rel="stylesheet", href="/styles/dependencies/morris.css")
        link(rel="stylesheet", href="/styles/font-awesome.min.css")
        link(rel="stylesheet", href="/styles/importer.css")
        link(rel="stylesheet", href="/styles/vendor/pace-theme-flash.css")
        link(rel="stylesheet", href="/styles/vendor/sb-admin-2.css")
        link(rel="stylesheet", href="/styles/vendor/sweet-alert.css")
        link(rel="stylesheet", href="/styles/vendor/timeline.css")
        // STYLES END
        
        block head
            
    body(stlye='zoom: 1;')
        // TEMPLATES
        script(type="text/javascript", src="/jst.js")
        // TEMPLATES END
        
        // SCRIPTS
        script(src="/js/dependencies/sails.io.js")
        script(src="/js/vendor/pace.min.js")
        script(src="/js/dependencies/jquery-2.1.1.min.js")
        script(src="/js/dependencies/bootstrap.js")
        script(src="/js/dependencies/metisMenu.min.js")
        script(src="/js/dependencies/underscore.js")
        script(src="/js/app/notifications.js")
        script(src="/js/app/rights.js")
        script(src="/js/vendor/sb-admin-2.js")
        script(src="/js/vendor/sweet-alert.min.js")
        // SCRIPTS END
        
        block layout
